body{
    background-image: url("/static/images/background_2.jpg");
    background-size: cover;
}

#activityItem{
    background-color: #f8f8e7;
    overflow: hidden;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    color: #916108;
}
.download{
    border: 2px solid white;
    margin: 1rem 0;
}
.itemBox{
    margin: 2rem 2rem;
    border-bottom: 1px solid #d0d1c6;
}
.operation{
    overflow: hidden;
    margin-bottom: 1rem;
}
#activityItem .pass,#activityItem .unpass{
    width: 4rem;
    height: 2.5rem;
    float: left;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-left: 0.4rem;
}
#activityItem .pass{
    background-color: #6bb070;
}
#activityItem .unpass{
    background-color: #F20E39;
}
#activityItem .pass img, #activityItem .unpass img{
    width: 70%;
}
.download img{
    width: 5%;
}
.itemContent img{
    width: 100%;
    height: 30%;
}
.halfPass{
    background-color: #47a447!important;
    color:white!important;
    border-color: #47a447!important;
    width: 40%!important;
    float: right;
    display: inline-block;
    padding: 0;
    padding: 1.5% 4%;
}
dd{
    margin-left: 3rem;
}