body{
	background-image: url("/static/images/background_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#pageone{
	background-color: rgba(255, 255, 255, 0.35);
}
#latestHeader{
	background-color: transparent;
	border-color: #a7ca7d;
}
#latestHeader h1{
	margin-top: 3rem;
	margin-bottom: 3rem;
	font-size: 1.9rem;
	color: white;
}
#treeNav{
	margin-top: 5%;
	height: 28rem;
	padding: 0 1rem;
}
#treeNav div{
	overflow: hidden;
}
#treeNav button{
	background-color: transparent;
	border-color: #5a7835;
	border-radius: 10px 10px 10px 10px;
}
#unpassActivity{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	width: 18rem;
	font-size: 1.8rem;

}
#unpassActivity img{
	width: 2rem;
	margin-right: 1rem;
	margin-bottom: 0.3rem;
}
#southCampus,#eastCampus,#zhuhaiCampus,#northCampus,#pass,#unpass{
	width: 8rem;
	padding: 0.3rem;
	float: left;
	font-size: 1.5rem;
	height: 2.5rem;
}
.vertical{
	display: block;
	width: 1rem;
	height: 0rem;
	background-color: rgb(89,89,89);
	float: left;
	margin-left: 4.2rem;
	margin-top: -0.9rem;
}
.campusItem{
	height: 3.5rem;
}
.campus{
	display: block;
	height: 0.5rem;
	width: 5rem;
	background-color: rgb(89,89,89);
	float: left;
	margin-top: 1.5rem;
}
.passOrUnPass{
	width: 4rem;
}
.south{
	width: 5rem;
}
.east{
	width: 6rem;
}
.zhuhai{
	width: 8rem;
}
.north{
	width: 7rem;
}
#treeNav button:active{
	background-color: #365715;
	color: white;
}
#treeNav a{
	text-decoration: none;
}
.campus, .Campus, .pass, .unpass{
	display: none;
}