{% extends "microbase.html" %}
{% block titlebar %}活动详情{% endblock %}
{% block import %}
<link rel="stylesheet" type="text/css" href="/static/css/microActivityDetailTeacher.css">
{% endblock %}
{% block content %}
<div data-role="content">
    <div id="activityItem">
        <dl class="itemBox">
            <dt>名称 : {{activity.title}}</dt>
            <dt>时间 : {{activity.startDateTime|date:"Y-m-d"}} {{activity.startDateTime|time:"H:i"}} 到 {{activity.endDateTime|date:"Y-m-d"}} {{activity.endDateTime|time:"H:i"}}</dt>
            <dt>地点 : {{activity.location}}</dt>
            <dt>负责人 : {{activity.student.name}}</dt>
            <dt>社团 : {{activity.societies.name}}</dt>
            <dt class="itemContent">内容 : {{activity.content | safe}}</dt>
            {% for item in submission %}
            <dt>{{item.get_type_display}}</dt>
            <dt>
                <dd>开始 : {{item.startTime|date:"Y-m-d"}} {{item.startTime|time:"H:i"}}</dd>
                <dd>结束 : {{item.enddime|date:"Y-m-d"}} {{item.enddime|time:"H:i"}}</dd>
                <dd>课室 : {% if item.location %}{{item.location}}{% endif %}</dd>
                <dd>桌子数量 : {% if item.number %}{{item.number}}{% endif %}</dd>
                <dd>椅子数量 : {% if item.chairNumber %}{{item.chairNumber}}{% endif %}</dd>
                <dd>其他物资数量 : {% if item.otherNumber %}{{item.otherNumber}}{% endif %}</dd>
                {% if item.file %}
                <div>
                <a class="btn btn-success halfPass" href="{{item.file.url}}">下载</a>
                </div>
                {% endif %}
            </dt>
            {% endfor %}
            {% for item in attachment %}
            <dt>{{item.description}}</dt>
            <dt>
                <div>
                <a class="btn btn-success halfPass" href="{{item.file.url}}">下载</a>
                </div>
            </dt>
            {% endfor %}
            {% if hasButton %}
            {% ifequal type "committee" %}
            <p>指导老师 <strong>{{activity.teacher.name}}</strong> 意见: {{activity.firstRemark}}</p>
            {% endifequal %}
            <textarea id="remark" placeholder="审批意见/必填"></textarea>
            <div class="operation">
                <a data-toggle="modal" data-target="#confirm"></a>
                <button data-name="pass" class="pass btn btn-success" data-id="{{activity.id}}" ><img src="/static/images/true.png"></button>
                <button data-name= "unpass" class="unpass btn btn-danger" data-id="{{activity.id}}"><img src="/static/images/false.png"></button>
                <button data-name="halfPass" type="button" class="btn btn-warning halfPass" data-id="{{activity.id}}">预审批</button>
            </div>
            {% else %}
            {% if isHalf %}
            {% ifequal type "committee" %}
            <p>指导老师 <strong>{{activity.teacher.name}}</strong> 意见: {{activity.firstRemark}}</p>
            {% endifequal %}
            <textarea id="remark" placeholder="审批意见/必填">{% ifequal type "committee" %}{{activity.secondRemark}}{% else %}{{activity.firstRemark}}{% endifequal %}</textarea>
            <div class="operation">
                <a data-toggle="modal" data-target="#confirm"></a>
                <button data-name="pass" class="pass btn btn-success" data-id="{{activity.id}}" ><img src="/static/images/true.png"></button>
                <button data-name= "unpass" class="unpass btn btn-danger" data-id="{{activity.id}}"><img src="/static/images/false.png"></button>
            </div>
            {% else %}
            {% if isAssesser %}
            {% ifequal type "committee" %}
            <p>指导老师 <strong>{{activity.teacher.name}}</strong> 意见: {{activity.firstRemark}}</p>
            {% endifequal %}
            <textarea id="remark" placeholder="审批意见/必填">{% ifequal type "committee" %}{{activity.secondRemark}}{% else %}{{activity.firstRemark}}{% endifequal %}</textarea>
            <div class="operation">
                <a data-toggle="modal" data-target="#confirm"></a>
                <button data-name="cancel" type="button" class="btn btn-danger halfPass" data-id="{{activity.id}}">取消</button>
            </div>
            {% endif %}
            {% endif %}
            {% endif %}
                    
        </dl>
    </div>  
</div>
{% endblock %}
{% block importjs %}
<script src="/static/js/microActivityDetailTeacher.js"></script>
{% endblock %}