.success{
    font-weight: 700;
    background-color: #6bb070;
    color: white;
    text-align: center;
}
.waiting{
    font-weight: 700;
    background-color: rgba(23, 157, 175, 1);
    color: white;
    text-align: center;
}
.failed{
    font-weight: 700;
    background-color: #CA304E;
    color: white;
    text-align: center;
}