body{
	background: url("/static/images/background_2.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
}
.lectureItemOne{
	color: #6bb070;
	padding: 0.5rem;
	margin-top: 1rem;
	margin-right: 4%;
	margin-left: 3%;
	width: 45%;
	background: url("/static/images/background_3.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	float: left;
}
.lectureItemTwo{
	color: #6bb070;
	padding: 0.5rem;
	background: url("/static/images/background_3.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
	float: left;
	width: 45%;
	margin-top: 2rem;
	margin-right: 3%;
}
.lectureItemSon{
	background-color: rgba(248, 248, 231, 0.79);
	padding: 1rem;
}