{% extends "base.html" %}
{% block titlebar %}已经报名的公益活动{% endblock %}
{% block import %}
<link rel="stylesheet" type="text/css" href="/static/css/studentTopBar.css">
{% endblock %}
{% block content %}
{% include "studentPageTop.html" %}
<div class="middlePart">
    <div class="titleItem"><h1>已经报名的公益活动</h1></div>
    {% for item in activities %}
    <div class="activityItem">
        <dt>
            {% include "label.html" %}
            {{item.title}}
        </dt>
        <dd>报名状态 : {% if item.isReady %}{% if item.registrant.isPass %}已通过筛选{% else %}已被刷掉{% endif %}{% else %}还没确定参加人选{% endif %}</dd>
        <dd>时间 : {{item.startDateTime}}到{{item.endDateTime}}</dd>
        <dd>地点 : {{item.location}}</dd>
        <a data-href="/student/detail/{{item.id}}/"><button class="detail">详细信息</button></a>
        <div class="clear">
        </div>
    </div>
    {% empty %}
        <div class="ifEmpty">
            当前项还没有活动!
        </div>
    {% endfor %}
</div>
{% include "footPart.html" %}
{% endblock %}
